.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: YoungSerif;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(30, 10%, 34%);
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
}

.container {
  width: 700px;
  margin: 4rem;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

.hero-text {
  font-family: "YoungSerif", sans-serif;
  margin: 1.5rem 0;
  color: hsl(24, 5%, 18%);
}


section h2 {
  color: hsl(14, 45%, 36%);
  font-family: "YoungSerif", sans-serif;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
  /* padding-bottom: 2rem; */
}

.Instructions {
  padding: 1.5rem 0;
  border-top: 1px solid hsl(30, 18%, 87%);
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.hero-image {
  background-image: url(./assets/images/image-omelette.jpeg);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 7px;
}

ul,
ol {
  margin-left: 1rem;
  line-height: 1.8;
}

li {
  padding-left: 1rem;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.preparation p {
  color: hsl(332, 51%, 32%);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
}
td, th {
  padding: 1rem 0;
  padding-right: 15rem;
}

tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  width: 100%;
}
tr:last-child {
  border: none;
}


th {
  color: hsl(14, 45%, 36%);
  text-align: left;
}